@media only screen {


    @import '../../sass/base/vars.scss';

    section#glossary {

        // initial state in flow (not fixed until scrolled)
        div.glossary-jumpnav {

            position: relative;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            background-color: $brand_colors-white;
            z-index: 10;
            padding: 10px 0;
            span {
                text-align: center;
                flex: 1 0 auto;
                border-bottom: 2px solid $brand_colors-grayW;
                &:hover {
                    border-bottom: 2px solid $brand_colors-red;
                }
            }
            a {
                z-index: 11;
            }

            &.js__jumpnav-fixed {
                position: fixed;
                top: 124px;
                left: 50%;
                transform: translateX(-50%);
                width: 50vw;
            }
        }
        
        div.glossary-content {
            > ul {
                position: relative;
                min-height: 30px; // provide space to h2 (letter) if there are no items
                h2 {
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                }
                li {
                    // margin-left: 40px;
                }
            }
        }   
    }



    // #glossary ul {
    //     list-style-type: none;
    // }

    // .glossary-jumpnav {
    //     position: fixed;
    //     background-color: white;
    //     width: 80%;
    //     display: flex;
    //     text-align: center;
    //     margin: 0 auto;
    //     padding: 20px;

    //     span {
    //         flex: 1 0 auto;
    //         color: lightgrey;

    //         a {
    //             color: black;
    //             font-weight: bold;
    //         }
    //     }
    // }

    // .glossary-content {
    //     padding-top: 80px;
    // }







}