/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* These are variables for the main navigation */
/**
 * modules/mixins
 * ---
 */
@media only screen {
  div.main section.hero,
  main section.hero {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 770px; }
    div.main section.hero > div:first-child,
    main section.hero > div:first-child {
      width: calc(100% / 3); }
    div.main section.hero a.nu__content_btn,
    main section.hero a.nu__content_btn {
      margin: 20px auto;
      display: inline-block;
      border: 1px solid black;
      padding: 10px 30px;
      text-transform: uppercase;
      border: 1px solid white; }
      div.main section.hero a.nu__content_btn:hover,
      main section.hero a.nu__content_btn:hover {
        color: #d41b2c;
        border: 1px solid #d41b2c; }
      div.main section.hero a.nu__content_btn h4,
      main section.hero a.nu__content_btn h4 {
        display: inline-block; }
      div.main section.hero a.nu__content_btn:hover,
      main section.hero a.nu__content_btn:hover {
        border: 1px solid white;
        color: white;
        background-color: rgba(0, 0, 0, 0.3); }
    div.main section.hero div.home-deadlines-bg,
    main section.hero div.home-deadlines-bg {
      position: absolute;
      width: 100%;
      height: 150px;
      bottom: 0;
      left: 0;
      background-color: #327c8a;
      z-index: 10;
      margin: 0; }
    div.main section.hero div.home-deadlines,
    main section.hero div.home-deadlines {
      position: relative;
      z-index: 11;
      width: 80%;
      text-align: left; }
      div.main section.hero div.home-deadlines ul.home-deadlines-items,
      main section.hero div.home-deadlines ul.home-deadlines-items {
        justify-content: center; }
        div.main section.hero div.home-deadlines ul.home-deadlines-items li,
        main section.hero div.home-deadlines ul.home-deadlines-items li {
          height: 185px;
          background-color: white;
          color: black;
          padding: 20px;
          margin-bottom: 0; }
          div.main section.hero div.home-deadlines ul.home-deadlines-items li:last-child,
          main section.hero div.home-deadlines ul.home-deadlines-items li:last-child {
            margin-right: 0; }
          div.main section.hero div.home-deadlines ul.home-deadlines-items li > h5, div.main section.hero div.home-deadlines ul.home-deadlines-items li > p,
          main section.hero div.home-deadlines ul.home-deadlines-items li > h5,
          main section.hero div.home-deadlines ul.home-deadlines-items li > p {
            font-size: 2.0rem;
            font-weight: 700;
            line-height: 3.2rem;
            text-align: left; }
          div.main section.hero div.home-deadlines ul.home-deadlines-items li > div > p,
          main section.hero div.home-deadlines ul.home-deadlines-items li > div > p {
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 2.8rem;
            text-align: left; }
      div.main section.hero div.home-deadlines > h4,
      main section.hero div.home-deadlines > h4 {
        padding: 5px 10px;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        text-transform: uppercase; }
  div.main div.neumenu-wrapper {
    display: block;
    position: relative; }
  li[data-id="howdoi"] {
    pointer-events: none; }
    li[data-id="howdoi"] > a {
      pointer-events: none; }
  div.main > section > a.nu__content_btn,
  main > section > a.nu__content_btn {
    display: inline-block;
    border: 1px solid black;
    padding: 10px 30px;
    text-transform: uppercase; }
    div.main > section > a.nu__content_btn:hover,
    main > section > a.nu__content_btn:hover {
      color: #d41b2c;
      border: 1px solid #d41b2c; }
  div.main section.home-feat-tools,
  div.main section.home-feat-news,
  main section.home-feat-tools,
  main section.home-feat-news {
    padding: 0 20px;
    margin-bottom: 30px; }
    div.main section.home-feat-tools > div,
    div.main section.home-feat-news > div,
    main section.home-feat-tools > div,
    main section.home-feat-news > div {
      display: flex;
      flex-flow: row nowrap; }
      div.main section.home-feat-tools > div > div,
      div.main section.home-feat-news > div > div,
      main section.home-feat-tools > div > div,
      main section.home-feat-news > div > div {
        flex: 1 0 auto;
        width: calc(33% - 20px);
        justify-content: space-around;
        align-items: center; }
        div.main section.home-feat-tools > div > div p,
        div.main section.home-feat-news > div > div p,
        main section.home-feat-tools > div > div p,
        main section.home-feat-news > div > div p {
          text-align: left; }
          div.main section.home-feat-tools > div > div p i.material-icons,
          div.main section.home-feat-news > div > div p i.material-icons,
          main section.home-feat-tools > div > div p i.material-icons,
          main section.home-feat-news > div > div p i.material-icons {
            vertical-align: middle;
            color: #d41b2c; }
        div.main section.home-feat-tools > div > div:not(:last-child),
        div.main section.home-feat-news > div > div:not(:last-child),
        main section.home-feat-tools > div > div:not(:last-child),
        main section.home-feat-news > div > div:not(:last-child) {
          margin-right: 30px; }
        div.main section.home-feat-tools > div > div img,
        div.main section.home-feat-news > div > div img,
        main section.home-feat-tools > div > div img,
        main section.home-feat-news > div > div img {
          height: auto;
          object-fit: cover;
          max-height: 120px;
          width: 80%;
          margin: 0 auto 40px; }
  section.hero a.nu__content_btn {
    border: 1px solid white;
    color: white; }
  section.hero > div:first-of-type {
    text-align: center; } }
