@charset "UTF-8";
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/**
 * modules/mixins
 * ---
 */
@media only screen {
  body.news-events-item div.main > section > p.neu__prevpage,
  body.news-events-item main > section > p.neu__prevpage {
    margin-bottom: 30px; }
    body.news-events-item div.main > section > p.neu__prevpage > a,
    body.news-events-item main > section > p.neu__prevpage > a {
      border-bottom: 2px solid transparent;
      line-height: inherit;
      display: inline-block; }
      body.news-events-item div.main > section > p.neu__prevpage > a:before,
      body.news-events-item main > section > p.neu__prevpage > a:before {
        display: inline-block;
        padding-right: 15px;
        font-size: 20px;
        font-family: "Material Icons";
        vertical-align: middle;
        content: "";
        line-height: inherit; }
      body.news-events-item div.main > section > p.neu__prevpage > a:hover,
      body.news-events-item main > section > p.neu__prevpage > a:hover {
        color: #d41b2c; }
      body.news-events-item div.main > section > p.neu__prevpage > a:hover,
      body.news-events-item main > section > p.neu__prevpage > a:hover {
        border-bottom: 2px solid #d41b2c; }
      body.news-events-item div.main > section > p.neu__prevpage > a:before,
      body.news-events-item main > section > p.neu__prevpage > a:before {
        padding-right: 5px;
        position: relative;
        color: #d41b2c;
        bottom: 1px; }
  body.news-events-item div.main > section > h1,
  body.news-events-item main > section > h1 {
    font-size: 3.4rem;
    line-height: 4.8rem;
    text-align: left;
    font-weight: 300;
    margin: 0;
    margin-bottom: 15px; }
  body.news-events-item div.main > section > h3,
  body.news-events-item main > section > h3 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.8rem;
    text-align: left;
    margin: 0;
    margin-bottom: 15px; }
  body.news-events-item div.main > section > img,
  body.news-events-item main > section > img {
    width: 100%;
    height: auto;
    margin-bottom: 15px; }
  body.news-events-item div.main > section > div:not(.neu__bgimg):last-of-type,
  body.news-events-item main > section > div:not(.neu__bgimg):last-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 60px; }
    body.news-events-item div.main > section > div:not(.neu__bgimg):last-of-type > p,
    body.news-events-item main > section > div:not(.neu__bgimg):last-of-type > p {
      margin-bottom: 15px; }
  html body ul.newsandevents {
    margin: 40px 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    position: relative; }
    html body ul.newsandevents li {
      flex: 1 1 calc(calc(100% / 3) - 30px);
      margin: 0 30px 30px 0;
      max-width: calc( 100% / 3 - 30px); }
      html body ul.newsandevents li:nth-of-type(3n) {
        margin-right: 0; }
      html body ul.newsandevents li:last-of-type:nth-of-type(even) {
        margin-right: 0; }
    html body ul.newsandevents > div.pagination {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); }
      html body ul.newsandevents > div.pagination:first-of-type {
        bottom: 100%;
        top: auto; }
      html body ul.newsandevents > div.pagination:last-of-type {
        top: 100%;
        bottom: auto; }
    html body ul.newsandevents > li > a > div > h3 {
      font-size: 2.0rem;
      font-weight: 700;
      line-height: 3.2rem;
      text-align: left;
      font-size: 2.0rem;
      font-weight: 700;
      line-height: 3.2rem;
      text-align: left; }
      html body ul.newsandevents > li > a > div > h3:after {
        font-family: "Material Icons";
        content: "\e5cc";
        color: #d41b2c;
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        opacity: 0; }
    html body ul.newsandevents > li > a > div > h6 {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.8rem;
      text-align: left; }
    html body ul.newsandevents > li > a > div .neu__news_event_time {
      margin-bottom: 15px; }
      html body ul.newsandevents > li > a > div .neu__news_event_time > p {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2.4rem;
        text-align: left; }
    html body ul.newsandevents > li > a > div > p:nth-last-of-type(2) {
      margin-bottom: 15px; }
    html body ul.newsandevents > li > a > div > p.neu__iconlink {
      border-bottom: 2px solid transparent;
      line-height: inherit;
      display: inline-block; }
      html body ul.newsandevents > li > a > div > p.neu__iconlink:before {
        display: inline-block;
        padding-right: 15px;
        font-size: 20px;
        font-family: "Material Icons";
        vertical-align: middle;
        content: "";
        line-height: inherit; }
      html body ul.newsandevents > li > a > div > p.neu__iconlink:before {
        color: #d41b2c; }
    html body ul.newsandevents > li > a:hover > .neu__bgimg > div {
      transform: scale(1.1); }
    html body ul.newsandevents > li > a:hover > div > h3:after {
      opacity: 1; }
    html body ul.newsandevents > li > a:hover p.neu__iconlink {
      border-bottom: 2px solid #d41b2c; }
      html body ul.newsandevents > li > a:hover p.neu__iconlink:before {
        color: #d41b2c; } }

@media only screen and (max-width: 960px) {
  div.wrapper > main > section > ul.newsandevents {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap; }
    div.wrapper > main > section > ul.newsandevents li {
      flex: 1 1 calc(calc(100% / 2) - 30px);
      margin: 0 30px 30px 0;
      max-width: calc( 100% / 2 - 30px); }
      div.wrapper > main > section > ul.newsandevents li:nth-of-type(2n) {
        margin-right: 0; }
      div.wrapper > main > section > ul.newsandevents li:last-of-type:nth-of-type(even) {
        margin-right: 0; } }

@media only screen and (max-width: 600px) {
  div.wrapper > main > section > ul.newsandevents > li {
    max-width: none;
    width: 100%;
    flex: none;
    margin: 0;
    margin-bottom: 30px; } }
