/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/**
 * modules/mixins
 * ---
 */
/* These are variables for the main navigation */
@media only screen {
  ul.tools-grid {
    display: flex;
    flex-flow: row wrap; }
    ul.tools-grid li {
      flex: 1 1 calc(calc(100% / 3) - 30px);
      margin: 30px 30px 0 0; }
      ul.tools-grid li:nth-of-type(3n) {
        margin-right: 0; }
      ul.tools-grid li:last-of-type:nth-of-type(even) {
        margin-right: 0; }
    ul.tools-grid li.tools-grid-tool > a figure {
      width: 100%;
      height: 220px;
      margin-bottom: 15px;
      overflow: hidden; }
      ul.tools-grid li.tools-grid-tool > a figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.4s ease; }
    ul.tools-grid li.tools-grid-tool > a > h5 {
      font-size: 2.0rem;
      font-weight: 700;
      line-height: 3.2rem;
      text-align: left; }
    ul.tools-grid li.tools-grid-tool > a > p {
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.8rem;
      text-align: left; }
      ul.tools-grid li.tools-grid-tool > a > p > i.material-icons,
      ul.tools-grid li.tools-grid-tool > a > p > span {
        display: inline-block;
        vertical-align: middle;
        line-height: inherit; }
      ul.tools-grid li.tools-grid-tool > a > p > i.material-icons {
        color: #d41b2c;
        padding-right: 15px; }
    ul.tools-grid li.tools-grid-tool > a:hover > figure > img {
      transform: scale(1.1); }
    ul.tools-grid li.tools-grid-tool > a:hover > p > i.material-icons,
    ul.tools-grid li.tools-grid-tool > a:hover > p > span {
      border-bottom: 1px solid #d41b2c; }
  main section ul.tool-groupingnav, div.main section ul.tool-groupingnav {
    text-align: center;
    margin-bottom: 30px; }
    main section ul.tool-groupingnav li, div.main section ul.tool-groupingnav li {
      border-bottom: 1px solid black;
      text-align: center;
      margin: 0 auto; }
      main section ul.tool-groupingnav li a, div.main section ul.tool-groupingnav li a {
        text-align: center; }
      main section ul.tool-groupingnav li.tool-grouping-active, div.main section ul.tool-groupingnav li.tool-grouping-active {
        border-bottom: 2px solid #d41b2c; }
  main section .tool-group, div.main section .tool-group {
    margin-top: 40px; }
    main section .tool-group > h4, div.main section .tool-group > h4 {
      font-size: 2.0rem;
      font-weight: 700;
      line-height: 3.2rem;
      text-align: left;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
    main section .tool-group > ul, div.main section .tool-group > ul {
      margin-left: 30px;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 2.8rem;
      text-align: left;
      flex-flow: row wrap; }
      main section .tool-group > ul > li, div.main section .tool-group > ul > li {
        padding: 10px 0;
        margin-bottom: 20px;
        flex: 1 0 100%; }
        main section .tool-group > ul > li > h5, div.main section .tool-group > ul > li > h5 {
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 2.8rem;
          text-align: left; } }
