/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline"), local("Lato-Hairline"), url("../.fonts/lato-v14-latin-100.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100.woff") format("woff"), url("../.fonts/lato-v14-latin-100.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url("../.fonts/lato-v14-latin-100italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Hairline Italic"), local("Lato-HairlineItalic"), url("../.fonts/lato-v14-latin-100italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-100italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-100italic.woff") format("woff"), url("../.fonts/lato-v14-latin-100italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-100italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light"), local("Lato-Light"), url("../.fonts/lato-v14-latin-300.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300.woff") format("woff"), url("../.fonts/lato-v14-latin-300.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url("../.fonts/lato-v14-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url("../.fonts/lato-v14-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-300italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-300italic.woff") format("woff"), url("../.fonts/lato-v14-latin-300italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-300italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../.fonts/lato-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../.fonts/lato-v14-latin-regular.woff") format("woff"), url("../.fonts/lato-v14-latin-regular.ttf") format("truetype"), url("../.fonts/lato-v14-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../.fonts/lato-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Italic"), local("Lato-Italic"), url("../.fonts/lato-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-italic.woff") format("woff"), url("../.fonts/lato-v14-latin-italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../.fonts/lato-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700.woff") format("woff"), url("../.fonts/lato-v14-latin-700.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../.fonts/lato-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url("../.fonts/lato-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-700italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-700italic.woff") format("woff"), url("../.fonts/lato-v14-latin-700italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-700italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../.fonts/lato-v14-latin-900.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900.woff") format("woff"), url("../.fonts/lato-v14-latin-900.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../.fonts/lato-v14-latin-900italic.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("../.fonts/lato-v14-latin-900italic.eot?#iefix") format("embedded-opentype"), url("../.fonts/lato-v14-latin-900italic.woff2") format("woff2"), url("../.fonts/lato-v14-latin-900italic.woff") format("woff"), url("../.fonts/lato-v14-latin-900italic.ttf") format("truetype"), url("../.fonts/lato-v14-latin-900italic.svg#Lato") format("svg");
  /* Legacy iOS */ }

@media only screen {
  body.training section.training_grid {
    padding: 60px 0 0 0; }
  main > section:last-of-type {
    width: 100%; }
    main > section:last-of-type > ul {
      width: 80%;
      margin: 0 auto; }
    main > section:last-of-type > ul.training_items-pagination {
      margin-bottom: 30px; }
  main > section > ul.training_items {
    display: flex;
    flex-flow: row wrap; }
    main > section > ul.training_items > li {
      background-color: #f0f0f0;
      padding: 15px;
      flex: 1 0 calc(20% - 24px);
      max-width: calc(20% - 24px);
      margin: 0;
      margin-bottom: 30px;
      margin-right: 30px; }
      main > section > ul.training_items > li:nth-of-type(5n) {
        margin-right: 0; }
      main > section > ul.training_items > li > h5 {
        font-size: 2.0rem;
        font-weight: 700;
        line-height: 3.2rem;
        text-align: left; }
      main > section > ul.training_items > li > p {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2.8rem;
        text-align: left; }
  main > section > ul.training_items-pagination {
    display: block;
    text-align: center; }
    main > section > ul.training_items-pagination > li {
      display: inline-block;
      margin: 0 auto; }
      main > section > ul.training_items-pagination > li > a {
        margin: 0 10px;
        padding: 5px;
        border-bottom: 2px solid transparent; }
        main > section > ul.training_items-pagination > li > a:before, main > section > ul.training_items-pagination > li > a:after {
          font-family: "Material Icons";
          position: relative;
          top: 3px; }
        main > section > ul.training_items-pagination > li > a:hover, main > section > ul.training_items-pagination > li > a:active, main > section > ul.training_items-pagination > li > a:focus, main > section > ul.training_items-pagination > li > a.neu__activepage {
          color: #d41b2c;
          border-bottom: 2px solid #d41b2c; }
    main > section > ul.training_items-pagination > li#paginate-prev a:before {
      content: "\e5cb"; }
    main > section > ul.training_items-pagination > li#paginate-next a:after {
      content: "\e5cc"; }
    main > section > ul.training_items-pagination > li.neu__inactivelink > a {
      color: #979797;
      pointer-events: none; } }

@media only screen and (max-width: 1280px) {
  main > section > ul.training_items > li {
    flex-basis: calc( 25% - 22.5px);
    max-width: calc( 25% - 22.5px); }
    main > section > ul.training_items > li:nth-of-type(5n) {
      margin-right: 30px; }
    main > section > ul.training_items > li:nth-of-type(4n) {
      margin-right: 0px; }
    main > section > ul.training_items > li > h5 {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 2.8rem;
      text-align: left; }
    main > section > ul.training_items > li > p {
      font-size: 1.4rem;
      line-height: 2rem; } }

@media only screen and (max-width: 960px) {
  main > section > ul.training_items > li {
    flex-basis: calc( 50% - 15px);
    max-width: calc(50% - 15px); }
    main > section > ul.training_items > li:nth-of-type(3n) {
      margin-right: 30px; }
    main > section > ul.training_items > li:nth-of-type(2n) {
      margin-right: 0px; } }

@media only screen and (max-width: 620px) {
  main > section > ul.training_items > li {
    flex-basis: 100%;
    max-width: 100%; }
    main > section > ul.training_items > li:nth-of-type(3n) {
      margin-right: 0; } }
