@media only screen {






    body.department {


        main > section {
            margin: 40px auto;
            >h1 {
                text-align: center;
                margin: 20px auto;
            }
            ul {
                list-style-type: none;
                margin-bottom: 20px;
            }
        }
        
        
    }
    
    
    
    
    
    
    
    
    
    
}