@media only screen {





    #forms {
        ul, ol {
            list-style-type: none;
        }

        .forms-category {
            margin: 40px 0;
            > h1 {
                text-align: center;
            }
            > li {
                margin-bottom: 40px;
            }
        }
    }
    
    
    
    
    
    
}