@media only screen {
    main#task {
        padding-top: 40px;
    }
    body.tasks {
        .header {
            top: 0;
        }
        p.testp {
            display: none;
        }
    }

    .task-options > li {
        border-bottom: 1px solid #000;
        margin-bottom: 40px;
    }

    // Accordions Top Level:
    .task-options > li > a {
        &:hover {
            color: inherit;
        }


        img {
            width: 32px;
            height: 32px;
        }
        img, h5 {
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
        }
        h5 {
            margin-left: 15px;
        }
    }

    // Accordions Nested Level
    .task-options > li > ul {
        margin-left: 40px;

    }
}