@media only screen {

  .task-heading {
    margin: 0 auto;
    max-width: 720px;
    h1 {
      text-align: center;
      padding: 40px 0;
    }
  }

  ul.task-options {
    max-width: 720px;
    margin: 0 auto;
    // (accordion clickable area)
    > li {
      border-bottom: 1px solid #000;
      > a {
        // ( parts of the accordion toggle area )
        img {
          width: 32px;
          height: 32px;
        }
        h5 {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

    main#task > section {
    > h1,
    > h2 {
      text-align: center;
    }
  }




}
