@import '../../sass/base/mixins.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/vars.scss';

@media only screen {
    div.main,
    main {


        section:nth-of-type(2){

            .neu__iconlink {
                &:first-of-type{
                    @include neu__iconlink($icon : "\e551");
                }
                &:last-of-type{
                    @include neu__iconlink($icon : "\e0be");
                }
            }
            
            > div:last-child {
                > h3{
                    @include font-7l-l;
                    border-bottom: 1px solid black;
                }
            }
            > div:first-of-type{
                > p > span {
                    @include font-2b-l;
                }
            }
        }

        section:last-child{


            > h2 {
                display: inline-block;
                margin: 0 auto;
                text-align: center;
                border-bottom: none;
                padding-bottom: 0;
            }
            
            > ul {
                @include ul_grid_cols(3);
                > li {
                    position: relative;
                    overflow: hidden;
                    > a {
                        > h3 {
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, 0);
                            bottom: 15px;
                            color: white;
                            margin: 0 auto;
                            @include font-3b-c;
                            transition: all 0.4s ease;
                            z-index: 10;
                            border-bottom: 1px solid $brand_colors-red;
                        }
                        
                        // bg img wrapper
                        > div {
                            @include neu__bgimg;
                            margin-bottom: 0;
                        }
                    }
                    &:hover {
                        > a > h3 {
                            bottom: 50%;
                            transform: translate(-50%, 50%);
                        }
                    }
                }                

            }
            
                
            
            
        }
        
        
    }
    
    
    
}