/* 
*
*      Contact
*
*/
@import '../../sass/base/mixins.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/vars.scss';

main {

    >section:not(.hero) {
        >p {
            margin-bottom: 15px; // should be a global but afraid to do that this late in the game

            p {
                margin-bottom: 15px; // should be a global but afraid to do that this late in the game
            }
        }
    }

    >section:nth-of-type(2) {
        >p {
            @include neu__iconlink($hover: 0, $icon: "\e0be");

            >a {
                border-bottom: 2px solid transparent;
            }

            &:hover,
            &:active,
            &:focus {
                &:before {
                    color: $brand_colors-red;
                }

                >a {
                    border-bottom: 2px solid $brand_colors-red;
                }
            }
        }
    }
}