@import '../../sass/base/mixins.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/vars.scss';

$ltgray : rgba(240, 240, 240, 1);

@media only screen {

    // use 80% of full width for deadlines (to match homepage)

    main > section:last-of-type {
        width: 100%;
        > ul {
            width: 80%;
            margin: 0 auto;
        }
        > ul.deadlines-pagination {
            margin-bottom: 30px;
        }
    }
    
    
    main > section > ul.deadlines {
        display: flex;
        flex-flow: row wrap;
        > li {
            background-color: $ltgray;
            padding: 15px;

            flex: 1 0 calc(20% - 24px);
            max-width: calc(20% - 24px);
            margin: 0;
            margin-bottom: 30px;
            margin-right: 30px;
            &:nth-of-type(5n){
                margin-right: 0;
            }
            
            > h5 {
                @include font-3b-l;
            }
            > p {
                @include font-2l-l;
            }
        }
    }
    main > section > ul.deadlines-pagination {
        display: block;
        text-align: center;
        > li {
            display: inline-block;
            margin: 0 auto;
            > a {
                margin: 0 10px;
                padding: 5px;
                border-bottom: 2px solid transparent;
                &:before,
                &:after {
                    font-family: "Material Icons";
                    position: relative;
                    top: 3px;
                }
                &:hover,
                &:active,
                &:focus,
                &.neu__activepage {
                    color: $brand_colors-red;
                    border-bottom: 2px solid $brand_colors-red;
                }
            }
        }

        > li#paginate-prev a {
            &:before {
                content: "\e5cb";
            }
        }
        > li#paginate-next a {
            &:after {
                content: "\e5cc";
            }
        }
        > li.neu__inactivelink > a {
            color: $brand_colors-gray;
            pointer-events: none;
        }
        
    }   
}
@media only screen and (max-width: $bp__lg){
    main > section > ul.deadlines {
        > li {
            flex-basis: calc( 25% - 22.5px  );
            max-width: calc( 25% - 22.5px );
            &:nth-of-type(5n){
                margin-right: 30px;
            }
            &:nth-of-type(4n){
                margin-right: 0px;
            }
            > h5 {
                @include font-2b-l;
            }
            > p {
                font-size: 1.4rem;
                line-height: 2rem;
            }
        }
    }
}
@media only screen and (max-width: $bp__md){
    main > section > ul.deadlines {
        > li {
            flex-basis: calc( 50% - 15px );
            max-width: calc(50% - 15px);
            &:nth-of-type(3n){
                margin-right: 30px;
            }
            &:nth-of-type(2n){
                margin-right: 0px;
            }
        }
    }
}
@media only screen and (max-width: $bp__sm){
    main > section > ul.deadlines {
        > li {
            flex-basis: 100%;
            max-width: 100%;
            &:nth-of-type(3n){
                margin-right: 0;
            }
        }
    }
}