@import '../../sass/base/mixins.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/vars.scss';

@media only screen {

    

    main {

        // First Section Below Hero: (hardcoded heading)
        > section:nth-of-type(2){
            text-align: center;
            > h2 {
                text-align: center;
                border-bottom: none;
            }
        }

        // next section is the 'related tasks'
        > section:nth-of-type(3),
        > section:nth-of-type(4)
        {
            > ul {
                @include ul_grid_cols(2);
                > li {
                    margin: 0 auto;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    &:nth-child(2n){
                        margin-right: 0px;
                    }    
                }
            }
        }
        
        
    }

    
    
    
}