@import '../../sass/base/vars.scss';
@import '../../sass/base/mixins.scss';
@import '../../sass/base/fonts.scss';


@media only screen {


    main#financialstatements {


        > section:last-of-type {
            h2 {
                text-align: center;
                border-bottom: 1px solid transparent;
                padding-bottom: 15px;
            }
        }

        a {
            display: block;
            width: 100%;
            border-bottom: 1px solid transparentize(black, 0.5);
            padding: 15px 0;
            > i.material-icons,
            > span {
                vertical-align: middle;
                display: inline-block;
                line-height: inherit;
            }
            > i.material-icons {
                color: $brand_colors-red;
            }
            &:hover {
                border-bottom: 1px solid $brand_colors-red;
            }
        }

    }


}