@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';
@media only screen {

    div.main,
    main {

        div.forms-category {
            margin-bottom: 30px;
            // form category title
            > h2 {
                @include font-7l-l;
                padding-bottom: 15px;
                border-bottom: 1px solid black;
            }
            // the form wrapper
            > ul {
                // margin: 15px 0;
                display: flex;
                align-items: center;
                // 
                > li {
                    padding: 15px 0;
                    border-bottom: 1px solid transparentize(black, 0.8);
                    > h5 {
                        position: relative;
                        @include font-3b-l;
                        &:before {
                            display: inline-block;
                            vertical-align: middle;
                            content: '\e5c8';
                            font-family: "Material Icons";
                            color: $brand_colors-red;
                            transform: rotate(0deg);
                            transition: transform 0.4s ease;
                            margin-right: 15px;
                            position: relative;
                            bottom: 2px;
                        }
                        &:hover {
                            &:after {
                                color: $brand_colors-red;
                            }
                        }
                        &.js__collapsible_triggered {
                            &:before {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    // collapsible field content (initially hidden)
                    >div {
                        @include font-2l-l;
                        margin-top: 15px;

                        // files to download
                        > p > a.neu__iconlink {
                            @include neu__iconlink($icon : "\e2c4");
                            &:before {
                                color: $brand_colors-red;
                            }
                        }
                        h4 {
                            @include font-2b-l;
                            margin: 15px 0;
                        }
                        // related resources list
                        > ul {
                            @include ul_grid_cols(2, 15px);

                            .neu__iconlink{
                                @include neu__iconlink;
                                &:before {
                                    color: $brand_colors-red;
                                }
                            }
                        }
                    }
                }
            }

        }
        
        
    }
    
    
    
    
}