@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';
@media only screen {

    div.main,
    main {


        div.forms-category {
            margin: 30px 0;
            > ul {
                > li {
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid transparentize(black, 0.5);
                    > h5 {
                        position: relative;
                        &:before {
                            display: inline-block;
                            content: '\e5c8';
                            font-family: "Material Icons";
                            color: $brand_colors-red;
                            transform: rotate(0deg);
                            transition: transform 0.4s ease;
                            margin-right: 15px;
                        }
                        &.js__collapsible_triggered {
                            &:before {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    // collapsible field content (initially hidden)
                    >div {
                        @include font-2l-l;
                        margin-top: 15px;

                        h4 {
                            @include font-2b-l;
                            margin-top: 15px;
                        }

                        > a {
                            display: block;
                            i.material-icons,
                            span {
                                display: inline-block;
                                vertical-align: middle;
                                line-height: inherit;
                                border-bottom: 1px solid transparent;
                            }
                            i.material-icons {
                                padding-right: 5px;
                            }
                            &:hover {
                                i.material-icons,
                                span {
                                    color: $brand_colors-red;
                                    border-bottom: 1px solid $brand_colors-red;
                                }
                            }
                        }
                        
                    }
                }
            }

        }
        
        
    }
    
    
    
    
}