@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';
@media only screen {



    section#glossary {

        // initial state in flow (not fixed until scrolled)
        div.glossary-jumpnav {

            position: relative;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            background-color: white;
            z-index: 10;
            padding: 10px 0;
            span {
                text-align: center;
                flex: 1 0 auto;
                border-bottom: 2px solid $brand_colors-gray;
                &:hover {
                    border-bottom: 2px solid $brand_colors-red;
                }
            }
            a {
                z-index: 11;
            }

            &.js__jumpnav-fixed {
                position: fixed;
                top: 124px;
                left: 50%;
                transform: translateX(-50%);
                width: 50vw;
            }
        }
        
        div.glossary-content {
            
            > ul {
                
                position: relative;
                min-height: 30px; // provide space to h2 (letter) if there are no items
                margin-top: 30px;
                h2 {
                    @include font-7l-l;
                }
                li {
                    padding-bottom: 30px;
                    margin-left: 32px;
                    @include font-2l-l;
                    > h6 {
                        @include font-3b-l;
                    }
                }
            }
        }   
    }
    section#glossary {

        div.glossary-jumpnav.js__glossnav_sticky {
            position: fixed;
            top: 128px;
            left: 50%;
            transform: translateX(-50%);
            width: 50vw;
        }

    }



}