@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';

@media only screen {



    section#glossary {

        // initial state in flow (not fixed until scrolled)
        div.glossary-jumpnav {

            position: relative;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            background-color: white;
            z-index: 10;
            padding: 0;
            border-bottom: 2px solid $brand_colors-gray;
            span {
                display: inline-block;
                min-width: 20px;
                text-align: center;
                flex: 1 1 auto;
                color: $brand_colors-gray;
            }
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                font-weight: 400;
                z-index: 11;
                border-bottom: 2px solid transparent;
                &:hover {
                    color: $brand_colors-red;
                    border-bottom: 2px solid $brand_colors-red;
                }
            }

            &.js__jumpnav-fixed {
                position: fixed;
                top: 124px;
                left: 50%;
                transform: translateX(-50%);
                width: 60vw;
            }
        }

        div.glossary-content {

            >ul {

                position: relative;
                min-height: 30px; // provide space to h2 (letter) if there are no items
                margin-top: 30px;

                li {
                    padding-bottom: 30px;
                    @include font-2l-l;

                    h2 {
                        @include font-7l-l;
                        color: $brand_colors-gray;
                    }

                    &:not(:first-of-type) {
                        // margin-left: 30px;
                        font-weight: 400;
                    }

                    >h6 {
                        @include font-3b-l;
                    }

                    &:first-of-type:not(:last-child) {
                        >h2 {
                            color: black;
                        }
                    }


                }
            }
        }
    }

    section#glossary {

        div.glossary-jumpnav.js__glossnav_sticky {
            position: fixed;
            top: 128px;
            left: 50%;
            transform: translateX(-50%);
            width: 60vw;
        }

    }



}