@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';

@media only screen {



    section#glossary {

        a.named_anchor {
            top: (-124px - 60px);
            &:target {
                ~ h6 {
                    outline: 2px solid rgba($brand_colors-red, 0.33);
                }
            }
        }
        

        // alphabet jumpnav
        div.glossary-jumpnav {
            position: relative;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            background-color: white;
            z-index: 10;
            padding: 10px 0;
            border-bottom: 2px solid $brand_colors-gray;

            // alphabet letter wrappers
            span {
                display: inline-block;
                min-width: 20px;
                text-align: center;
                flex: 0 1 auto;
                color: $brand_colors-gray;
                width: calc(100% / 26);
            }

            // alphabet letter links (text)
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                font-weight: 400;
                z-index: 11;
                border-bottom: 2px solid transparent;

                &:hover,
                &:active,
                &:focus {
                    color: $brand_colors-red;
                    border-bottom: 2px solid $brand_colors-red;
                }
            }

            &.js__jumpnav-fixed {
                position: fixed;
                top: 124px;
                left: 50%;
                transform: translateX(-50%);
                width: 60vw;
            }
        }

        div.glossary-content {

            >ul {

                position: relative;
                min-height: 30px; // provide space to h2 (letter) if there are no items
                margin-top: 30px;
                
                >li {
                    position: relative;    
                    padding-bottom: 30px;
                    @include font-2l-l;

                    h2 {
                        @include font-7l-l;
                        color: $brand_colors-gray;
                    }

                    &:not(:first-of-type) {
                        // margin-left: 30px;
                        // font-weight: 400;
                    }

                    >h6 {
                        @include font-3b-l;
                    }

                    &:first-of-type:not(:last-child) {
                        >h2 {
                            color: black;
                        }
                    }

                    ul {
                        a {
                            color: $brand_colors-red;

                            &:hover,
                            &:active,
                            &:focus {
                                border-bottom: 2px solid $brand_colors-red;
                            }
                        }

                        list-style-type: disc;
                        margin: 0;
                        padding: 0;
                        padding-left: 2.4rem;

                        li {
                            margin: 0;
                            padding: 0;
                        }
                    }

                }
            }
        }
    }

    section#glossary {

        div.glossary-jumpnav.js__glossnav_sticky {
            position: fixed;
            top: 124px;
            left: 50%;
            transform: translateX(-50%);
            width: 61vw; // need to extend width 1vw to hide all text visible behind it
        }

    }



}

@media only screen and (max-width: $bp__lg) {
    section#glossary div.glossary-content>ul li:first-of-type:not(:last-child)>h2 {
        @include font-5l-l;
    }

    section#glossary div.glossary-content>ul li>h6 {
        @include font-2b-l;
    }
}

@media only screen and (max-width: $bp__md) {
    section#glossary div.glossary-content>ul li:first-of-type:not(:last-child)>h2 {
        @include font-3l-l;
    }
}

@media only screen and (max-width: $bp__sm) {


    section#glossary div.glossary-jumpnav.js__glossnav_sticky {
        width: 90vw;
    }

}