@import '../../sass/base/fonts.scss';
@import '../../sass/base/vars.scss';
@import '../../sass/base/mixins.scss';
// 
// 
//  
@media only screen {

    
    
    
    div.main,
    main {
        // HERO
        section.hero {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            height: 620px;
            > div:first-child {
                width: calc(100% / 3);
                text-align: center;
                > h2 {
                    @include font-7l-c;
                }
                > p,
                .nu__content_btn {
                    @include font-2l-c;
                }
            }
            .nu__content_btn {
                border: 1px solid white;
                color: white;
                &:hover {
                    border: 1px solid white;
                }
            }
        }
        div.deadlines {
            width: 100%;
            background-color: $brand_colors-teal--dark;
            height: 150px;
            position: relative;
            > div{
                transform: translate(-50%, -50%);    
                position: absolute;
                top: 0;
                left: 50%;
                width: 80%;
                margin: 0 auto;
                > ul {
                    display: flex;
                    flex-flow: row nowrap;
                    list-style-type: none;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: ($gutter * 2);
                    > li {
                        flex: 1;
                        padding: 15px;
                        height: 185px;
                        background-color: white;
                        margin-right: $gutter;
                        &:last-child{
                            margin-right: 0;
                        }

                        > h5 {
                            @include font-3b-l;
                        }
                        > p {
                            @include font-2l-l;
                        }
                    }
                }
                > h4 {
                    padding: 5px 10px;
                    display: inline-block;
                    background-color: rgba(255,255,255, 0.6);
                    text-transform: uppercase;
                    margin-bottom: $gutter;
                    @include font-1r-l;
                    color: black;
                }
            }
        }
    }
        
    
    
    div.main {
        div.neumenu-wrapper {
            display: block;
            position: relative;
        }
    }

    li[data-id="howdoi"] {
        pointer-events: none;
        > a {
            pointer-events: none;
        }
    }

    div.main,
    main {
 

        section.home-feat-tools,
        section.home-feat-news {
            padding: 0 20px;
            margin: 60px 0;
            > h1 {
                margin: 0 auto;
                margin-bottom: 30px;
                @include font-7l-c;
            }
            > div {
                display: flex;
                flex-flow: row nowrap;
                
                > div {
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        figure {
                            overflow: hidden;
                        }
                        img {
                            transition: transform 0.4s ease;
                            transform: scale(1);
                        }
                        &:hover,
                        &:focus {
                            border-bottom: 1px solid transparent;
                            img {
                                transform: scale(1.1);
                            }
                            > div {
                                p {
                                    border-bottom: 1px solid $brand_colors-red;
                                }
                            }
                        }
                        > div {
                            text-align: left;
                            > p {
                                border-bottom: 1px solid transparent;
                                display: inline-block;
                                i, span {
                                    display: inline-block;
                                    vertical-align: middle;
                                    line-height: inherit;
                                }
                            }
                        }
                    }
                    flex: 1 0 auto;
                    width: calc(33% - 20px);
                    justify-content: space-around;
                    align-items: center;
                    p {
                        @include font-2l-l;
                        text-align: left;
                        i.material-icons {
                            vertical-align: middle;
                            color: $brand_colors-red;
                        }
                    }
                    &:not(:last-child){
                        margin-right: 30px;
                    }
                    img {
                        width: auto;
                        height: 80px;
                        object-fit: cover;
                        transform: scale(1);
                    }
                }
            }
            
        }

        section.home-feat-news {
            >div>div>a>figure>img {
               width: 100%;
               height: 245px;
            }
            >div>div>a {
                @include font-2l-l;
                h5 {
                    @include font-2b-l;
                }
                h5:first-of-type {
                    @include font-3b-l;
                }
                p {
                    @include font-2l-l;
                }
            }
        }
    }
}