@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';
@media only screen {

    html body ul.newsandevents {
        margin: 40px 5%;

        @include ul_grid_cols(3);
        position: relative;
        > div.pagination {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            &:first-of-type {
                bottom: 100%;
                top: auto;
            }   
            &:last-of-type {
                top: 100%;
                bottom: auto;
            } 
        }
        > li {
            > a {
                > div {
                    .neu__news_event_time {
                        margin-top: 15px;
                        > p {
                            @include font-1l-l;
                        }
                    }
                    > p:last-of-type{
                        > span,
                        > i.material-icons {
                            @include font-2l-l;
                            vertical-align: middle;
                            display: inline-block;
                            line-height: inherit;
                            border-bottom: 1px solid transparent;
                        }
                        i.material-icons {
                            color: $brand_colors-red;
                            font-size: 20px;
                            padding-right: 15px;
                        }
                    }
                }
                > figure {
                    margin-bottom: 15px;
                    overflow: hidden;
                    > img {
                        transform: scale(1);
                        transition: transform 0.4s ease;
                        object-fit: cover;
                        max-height: 245px;
                        width: 100%;
                    }
                }
                &:hover {
                    figure > img {
                        transform: scale(1.1);
                    }
                    > div > p:last-of-type {
                        > span,
                        > i.material-icons {
                            border-bottom: 1px solid $brand_colors-red;
                        }
                    }
                }
            }
        }
    }
    
    
    
}