@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';
@media only screen {


    div.main,
    main {


        > section:nth-of-type(2){
            p {
                @include font-3l-c;
                margin-bottom: 15px;
            }
        }
        > section {
            // (the page title)
            > h2 {
                border-bottom: 1px solid black;
            }
            &.related-tasks {
                margin-bottom: 40px;
                i.material-icons {
                    color: $brand_colors-red;
                }
            }
            > .task-options {
                // the solutions header (select solution based on method of payment etc)
                p {
                    margin-bottom: 15px;
                }
                > h2 {
                    @include font-7l-l;
                    padding-bottom: 30px;
                    border-bottom: 1px solid black;
                }
                .task-options-list {
                    margin-top: 30px;
                    list-style-type: none;
                    // any task option grouping
                    > li {
                        margin-top: 30px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid transparentize(black, 0.8);
                        cursor: pointer;
                        // the task option groupings sub-options (steps)
                        > ul {
                            margin-top: 15px;
                            list-style-type: none;
                            overflow-y: hidden;
                            cursor: initial;
                            display: block;

                            // a 'step'
                            > li {
                                margin: 0 auto;
                                margin-bottom: 20px;

                                > a.js__youtube {
                                    @include neu__iconlink();
                                    &:before {
                                        color: $brand_colors-red;
                                    }
                                }
                            }
                            // in-solution 'sidebar' / 'callout'
                            .sidebar {
                                position: relative;
                                z-index: 11;
                                width: calc(100% / 3);
                                margin: auto;
                                margin-left: 20px;
                                float: right;
                                &:before{
                                    display: none;
                                }
                                > img {
                                    height: 245px;
                                    width: 100%;
                                    object-fit: cover;
                                }
                                > h4 {
                                    @include font-2r-l;
                                }
                                > p {
                                    @include font-2l-l;
                                }
                                > a {
                                    @include neu__iconlink();
                                    &:before {
                                        color: $brand_colors-red;
                                    }
                                }
                            }
                            ul.list {
                                > li:first-child {
                                    > h2 {
                                        @include font-2r-l;
                                    }
                                }
                                > li {
                                    > a.neu__iconlink {
                                        @include neu__iconlink($icon : "\e2c4");
                                        &:before {
                                            color: $brand_colors-red;
                                        }
                                    }
                                }
                            }
                        }
                        
                        // the task option grouping main info (title, description, icon etc)
                        > div {
                            position: relative;
                            padding-right: 20px;
                            &:after {
                                position: absolute;
                                right: 0;
                                top: 0;
                                font-size: 20px;
                                transition: transform 0.4s ease;
                                content: '\e313';
                                transform: rotate(0deg);
                                display: inline-block;
                                font-family: 'Material Icons';
                            }
                            > h5, > i {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            h5 {
                                margin: 0 auto;
                                margin-left: 20px;
                                border-bottom: 2px solid transparent;
                                @include font-3r-l;
                            }
                            > p {
                                margin: 15px 0;
                            }
                            @include font-2l-l;

                            &:hover {
                                > h5 {
                                    border-bottom: 2px solid $brand_colors-red;
                                }
                                &:after {
                                    color: $brand_colors-red;
                                }
                            }
                            > i.material-icons {
                                padding: 8px; // centers checkmark within the circle border, all of which appx. 40px width and height
                                border-radius: 50%;
                                border: 1px solid $brand_colors-gray;
                                color: $brand_colors-gray;
                            }
                            ul {
                                a {
                                    color: $brand_colors-red;
                                    &:hover {
                                        border-bottom: 2px solid $brand_colors-red;
                                    }
                                }
                                list-style-type: disc;
                                margin: 0;
                                padding: 0;
                                padding-left: 2.4rem;
                                li {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                        &.js__tasks_viewable_steps {
                            > div {
                                > i.material-icons {
                                    color: $brand_colors-red;
                                    border-color: $brand_colors-red;
                                }
                                &:after {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }
                }
            }
        }
        > section .task-options-list-item-suboptions {
            > li {
                ul {
                    a {
                        color: $brand_colors-red;
                        &:hover {
                            border-bottom: 2px solid $brand_colors-red;
                        }
                    }
                    list-style-type: disc;
                    margin: 0;
                    padding: 0;
                    padding-left: 2.4rem;
                    li {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: $bp__lg){
    main>section>.task-options>h2 {
        @include font-5l-l;
        padding-bottom: 15px; // font size dropped so much the padding should too
    }
    main>section>.task-options .task-options-list>li>div h5 {
        @include font-2b-l;
    }
}
@media only screen and (max-width: $bp__md){
    main>section:nth-of-type(2)>p {
        @include font-2l-c;
    }
    main>section>.task-options>h2 {
        @include font-3l-l;
        padding-bottom: 15px; // font size dropped so much the padding should too
    }
}


@media only screen and (max-width: 600px){
    div.wrapper {
        > main {
            > section > .task-options > .task-options-list {
                .task-options-list-item-suboptions {
                    .sidebar {
                        float: none;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $bp__sm){
    
    main>section>.task-options .task-options-list>li>div {

        > h5 {
            margin-left: 0;
        }

        >i.material-icons {
            padding: 5px;
            font-size: 1.6rem;
        }
    }
    
    
}