@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';
@media only screen {


    div.main,
    main {
        > section {
            // (the page title)
            > h2 {
                border-bottom: 1px solid black;
            }
            &.related-tasks {
                margin-bottom: 40px;
                i.material-icons {
                    color: $brand_colors-red;
                }
            }


            > div.task-options {
                // the solutions header (select solution based on method of payment etc)
                > h2 {
                    @include font-7l-l;
                    padding-bottom: 30px;
                    border-bottom: 1px solid black;
                }
                ul.task-options-list {
                    // any task option grouping
                    > li {
                        margin-top: 15px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid transparentize(black, 0.5);
                        cursor: pointer;
                        // the task option groupings sub-options (steps)
                        > ul {
                            cursor: initial;
                            display: block;
                            margin-left: 5%;
                            > li {
                                margin: 0 auto;
                                margin-bottom: 20px;
                            }
                            // in-solution 'sidebar' / 'callout'
                            div.sidebar {
                                width: calc(100% / 3);
                                margin: auto;
                                margin-left: 20px;
                                float: right;
                                > img {
                                    height: 245px;
                                    width: 100%;
                                    object-fit: cover;
                                }
                                > h4 {
                                    @include font-2b-l;
                                }
                                > p {
                                    @include font-2l-l;
                                }
                                > a {
                                    > i.material-icons,
                                    > span{
                                        display: inline-block;
                                        vertical-align: middle;
                                        @include font-2l-l;
                                        line-height: inherit;
                                    }
                                    > i.material-icons {
                                        color: $brand_colors-red;
                                    }
                                }
                            }
                        }
                        
                        // the task option grouping main info (title, description, icon etc)
                        > div {
                            position: relative;
                            &:after {
                                position: absolute;
                                right: 0;
                                top: 0;
                                font-size: 20px;
                                transition: transform 0.4s ease;
                                content: '\e313';
                                transform: rotate(0deg);
                                display: inline-block;
                                font-family: 'Material Icons';
                            }
                            h5, img {
                                display: inline-block;
                                margin: 0 auto;
                            }
                            img {
                                width: 32px;
                                height: 32px;
                            }
                            h5 {
                                margin-left: 20px;
                                @include font-3b-l;
                            }
                            > p {
                                margin: 15px 0;
                            }
                            @include font-2l-l;

                            &:hover {
                                > h5 {
                                    border-bottom: 1px solid $brand_colors-red;
                                }
                            }
                            
                        }
                        &.js__tasks_viewable_steps {
                            > div {
                                &:after {
                                    transform: rotate(180deg);
                                    color: $brand_colors-red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    ul.task-options-list {
        > li {
            &.js__tasks_viewable_steps {
                > div {
                    > i.material-icons {
                        color: $brand_colors-red;
                        border-color: $brand_colors-red;
                    }
                }
            }
            > div{
                > i.material-icons {
                    padding: 8px; // centers checkmark within the circle border, all of which appx. 40px width and height
                    border-radius: 50%;
                    border: 1px solid $brand_colors-gray;
                    color: $brand_colors-gray;
                }
            }
        }
    }


    // LETS DO SOME FANCY BULLETS HUH
    ul.task-options-list-item-suboptions {
        position: relative;
        &:before {
            content: '';
            width: 1px;
            background-color: $brand_colors-gray;
            height: 100%;
            display: inline-block;
            position: absolute;
            left: -24px;
            opacity: 0.3;
        }
        > li {
            position: relative;
            &:before {
                left: -30px;
                position: absolute;
                display: inline-block;
                content: '';
                top: 7px;
                width: 12px;
                background-color: lighten($brand_colors-gray, 25%);
                height: 12px;
                border-radius: 50%;
            }



            > h5 {
                @include font-2b-l;
            }
            > p {
                @include font-2l-l;
            }
        }
    }
}