@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';
@import '../../sass/base/vars.scss';


@media only screen {


    .tools-grid {
        flex-flow: row wrap;
        li {
            flex: 1 0 auto;
            width: 30%;
        }
        
    }

    ul.tools-grid {
        li.tools-grid-tool {
            > a {
                figure {
                    width: 100%;
                    height: 220px;
                    margin-bottom: 15px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: scale(1);
                        transition: transform 0.4s ease;
                    }
                }
                > h5 {
                    @include font-3b-l;
                }
                > p {
                    @include font-2l-l;
                    > i.material-icons,
                    > span {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: inherit;
                    }
                    > i.material-icons {
                        color: $brand_colors-red;
                        padding-right: 15px;
                    }
                }
                &:hover {
                    > figure > img {
                        transform: scale(1.1);
                    }
                    > p {
                        > i.material-icons,
                        > span {
                            border-bottom: 1px solid $brand_colors-red;
                        }
                    }
                }
            }
        }
    }
   
    main, div.main {
        section {
            ul.tool-groupingnav {
                text-align: center;
                margin-bottom: 30px;
                li {
                    border-bottom: 1px solid black;
                    text-align: center;
                    margin: 0 auto;
                    a {
                        text-align: center;
                    }
                    &.tool-grouping-active {
                        border-bottom: 2px solid $brand_colors-red;
                    }
                }
            }

            .tool-group {
                margin-top: 40px;
                > h4 {
                    @include font-3b-l;
                    border-bottom: 1px solid transparentize(black, 0.5);
                }
                > ul {
                    margin-left: 30px;
                    @include font-2l-l;
                    flex-flow: row wrap;
                    > li {
                        >h5 {
                            @include font-2b-l;
                        }
                        padding: 10px 0;
                        margin-bottom: 20px;
                        flex: 1 0 100%;
                    }
                }
            }
        }
    }
    
}