@media only screen {







    #deadlines {
        list-style-type: none;
        max-width: 720px;
        margin: 0 auto;
        font-size: 0;
        margin-top: 50%;
        transform: (translateY(-50%));
        li {
            margin: 10px auto;
            padding: 5px;
            display: inline-block;
            vertical-align: top;
            width: calc(100% / 3);
            font-size: initial;
            p {
                margin: 10px 0;
                line-height: 1.2;
            }
        }

    }
    
    
    
    
    
    
    
}