@media only screen {





  .module-faqs {
    max-width: 720px;
    margin: 40px auto;
    > h2 {
      text-align: center;
    }
    ul {
      list-style-type: none;
      text-align: left;
    }
    li {
      border-bottom: 1px solid #000;
      h5 {
        line-height: 3;
      }
    }
  }







}
