/**
 * partials/footer
 * ---
 */

footer {
    flex: none;
    position: relative;
    z-index: 101;

    > div#sitefooter {
        background: rgba(0, 0, 0, 1.0);
        color: rgba(255, 255, 255, 1.0);
        width: 100%;
        padding: 20px 0 20px 0;
        height: auto;

        // footer wrapper
        > div {
            width: 100%;
            margin: 0 auto;
            position: relative;

            // footer sections wrapper
            > ul {
                padding: 20px;
                list-style: none;
                list-style-type: none;
                display: flex;
                border-bottom: 1px solid $brand_colors-gray;

                // footer sections
                > li {
                    flex-grow: 1;
                    flex-basis: 0;
                    font-size: 1.3rem;
                    h5 {
                        color: $brand_colors-gray;
                        @include font-1l-l;
                        text-transform: uppercase;
                    }
                    > ul {
                        list-style-type: none;
                        a {
                            color: white;
                            @include font-2b-l;
                            &:hover {
                                opacity: 0.6;
                                border-bottom: 2px solid $brand_colors-red;
                            }
                        }
                    }
                    &:not(:first-child){
                        flex-basis: 25%;
                    }
                    &:first-child {
                        overflow: hidden;
                        flex-basis: 50%;
                        img {
                            width: 200px;
                            height: auto;
                        }

                        svg {
                            width: 220px;
                        }

                        > a {
                            font-size: 0;
                        }
                    }
                }
            }
        }
    }
}