/**
* partials/footer
* ---
*/

// Size Independent Styles
@media only screen {
    div#sitefooter {
        background: rgba(0, 0, 0, 1.0);
        color: rgba(255, 255, 255, 1.0);

        >div {
            >ul {
                list-style-type: none; // (already set globally, but that may need to be removed)
                display: flex;
                // width: 94vw; // * to match the width of the globalfooter (vertical justification)
                width: 100%;
                margin: 0 auto;
                border-bottom: 1px solid $brand_colors-gray;
                padding: 20px 30px;

                >li {
                    margin: 15px 0;

                    &:first-of-type {
                        flex-basis: 50%;

                        svg {
                            width: 220px;
                        }
                    }

                    &:not(:first-of-type) {
                        flex-basis: 25%;
                    }

                    // labels for link groups
                    >h5 {
                        @include font-1l-c;
                        color: $brand_colors-gray;
                        text-transform: uppercase;
                        text-align: left;
                    }

                    >ul {
                        list-style-type: none; // (already set globally, but that may need to be removed)

                        >li {
                            >a {
                                color: white;
                                @include font-2r-l;
                                &:hover,
                                &:active,
                                &:focus {
                                    color: rgba(255, 255, 255, 0.6);
                                    border-bottom: 2px solid $brand_colors-red;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Below lg
@media only screen and (max-width: $bp__lg) {}

// Below md
@media only screen and (max-width: $bp__md) {
    div#sitefooter {
        >div {
            >ul {
                flex-flow: column nowrap;
                text-align: center;

                >li {
                    >h5 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

// Below sm
@media only screen and (max-width: $bp__sm) {}