/**
 * partials/footer
 * ---
 */

footer {
    flex: none;
    position: relative;
    z-index: 101;

    &>div#sitefooter {
        background: rgba(0, 0, 0, 1.0);
        color: rgba(255, 255, 255, 1.0);
        width: 100%;
        padding: 20px 0 20px 0;
        height: auto;

        &>div {
            width: $content-width;
            margin: nth($wrapper-margins, 1) nth($wrapper-margins, 2) nth($wrapper-margins, 3) nth($wrapper-margins, 4);
            position: relative;

            &>ul {
                list-style: none;
                list-style-type: none;
                display: flex;

                &>li {
                    flex-grow: 1;
                    flex-basis: 0;
                    font-size: 1.3rem;

                    &:first-child {
                        overflow: hidden;

                        & img {
                            width: 200px;
                            height: auto;
                        }

                        & svg {
                            width: 220px;
                        }

                        &>a {
                            font-size: 0;
                        }
                    }

                    &>a {
                        color: rgba(255, 255, 255, 1.0);
                        font-size: 1.4rem;
                        font-weight: 300;

                        &.download {
                            border: solid rgba(255, 255, 255, 1.0) 1px;
                            background: rgba(0, 0, 0, 1.0);
                            height: $navigation-height;
                            line-height: $navigation-height;
                            display: block;
                            color: rgba(255, 255, 255, 1.0);
                            width: 180px;
                            text-transform: uppercase;
                            text-align: center;
                            letter-spacing: 1px;
                        }

                        &:not(.download):hover {
                            color: red;
                            text-decoration: underline;
                        }
                    }

                    &:not(.contact) {
                        &>a {
                            text-transform: uppercase;
                            font-size: 1.6rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}