@media only screen and (max-width: 1375px) {
    $navigation-height: 80px;
    footer {
        flex: none;
        &>div#sitefooter {

            &>div {

                &>ul {
                    flex-wrap: wrap;

                    &>li {
                        flex-grow: 1;
                        flex-basis: 50%;
                        font-size: 1.3rem;

                        &:first-child {
                            overflow: hidden;

                            & img {
                                width: 200px;
                                height: auto;
                            }

                            &>a {
                                font-size: 0;
                            }
                        }

                        &:nth-of-type(1) {
                            //  border:1px solid orange;
                            order: 1;
                        }

                        &:nth-of-type(2) {
                            //  border:1px solid red;
                            order: 3;
                        }

                        &:nth-of-type(3) {
                            //  border:1px solid green;
                            order: 2;

                        }

                        &:nth-of-type(4) {
                            //  border:1px solid blue;
                            order: 4;
                            margin-top: 10px;
                        }

                        &>a {
                            color: rgba(255, 255, 255, 1.0);
                            font-size: 1.4rem;
                            font-weight: 300;

                            &.download {
                                border: solid rgba(255, 255, 255, 1.0) 1px;
                                background: rgba(0, 0, 0, 1.0);
                                height: $navigation-height;
                                line-height: $navigation-height;
                                display: block;
                                color: rgba(255, 255, 255, 1.0);
                                width: 180px;
                                text-transform: uppercase;
                                text-align: center;
                                letter-spacing: 1px;
                            }

                            &:not(.download):hover {
                                color: red;
                                text-decoration: underline;
                            }
                        }

                        &:not(.contact) {
                            &>a {
                                text-transform: uppercase;
                                font-size: 1.6rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1070px) {
    footer>div#nu__global-footer>div>div {
        float: left !important;
    }
}

@media only screen and (max-width: 990px) {

    footer>div#sitefooter>div,
    footer>div#nu__global-footer>div {
        width: 90%;
        margin: 0 auto;
        //max-width:90vw;

    }
    #form {
        margin-bottom: 50px;

        & div.nu__form {
            width: 90vw;
            margin: 0 auto;

        }
    }

    footer>div#sitefooter>div,
    footer>div#nu__global-footer>div {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 860px) {
    footer>div#nu__global-footer {
        height: 150px;
    }
}
@media only screen and (max-width: 700px) {
    footer {
        flex: none;

        &>div#sitefooter {

            &>div {

                &>ul {
                    flex-wrap: wrap;
                    flex-direction: column;

                    &>li {
                        flex-grow: 1;
                        // flex-basis: 100%;
                        font-size: 1.3rem;
                        align-items: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        text-align: center;

                        &:first-child {
                            overflow: hidden;

                            & img {
                                width: 200px;
                                height: auto;
                            }

                            &>a {
                                font-size: 0;
                            }
                        }

                        &:nth-of-type(1) {

                            order: 1;
                        }

                        &:nth-of-type(2) {
                            margin-top: 10px;
                            order: 2;
                        }

                        &:nth-of-type(3) {
                            margin-top: 10px;
                            order: 3;

                        }

                        &:nth-of-type(4) {

                            order: 4;

                            margin: 0 auto;
                            margin-top: 10px;
                        }

                        &>a {
                            color: rgba(255, 255, 255, 1.0);
                            font-size: 1.4rem;
                            font-weight: 300;

                            &.download {
                                border: solid rgba(255, 255, 255, 1.0) 1px;
                                background: rgba(0, 0, 0, 1.0);
                                height: $navigation-height;
                                line-height: $navigation-height;
                                display: block;
                                color: rgba(255, 255, 255, 1.0);
                                width: 180px;
                                text-transform: uppercase;
                                text-align: center;
                                letter-spacing: 1px;
                            }

                            &:not(.download):hover {
                                color: red;
                                text-decoration: underline;
                            }
                        }

                        &:not(.contact) {
                            &>a {
                                text-transform: uppercase;
                                font-size: 1.6rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    footer>div#nu__global-footer {
        height: 200px;
    }
}
@media only screen and (max-width: 400px) {

    .nu__section-break {
        display: none;
    }
    .nu__garb {
        border-top: none;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field-label {
        font-size: 13px !important;
    }
}