/**
 * partials/wrapper
 * ---
 */


.wrapper {
    flex: 1;
    max-width: $wrapper-width;
    max-width: 100%;

    // unset 100vw and reset as 100% *** may need to consolidate these into a single place ***
    div#nu__globalheader {
        width: 100%;
    }
}

// main[role="main"] > section {
//   width: 80%;
//   margin: 0 auto;
// }