@media only screen {
  /**
*
*
*   Variables
*   
*/
  /* These are variables for the header */
  /* These are variables for the main navigation */
  ul.newsandevents {
    flex-flow: row wrap; }
    ul.newsandevents > a {
      flex: 1 0 100%;
      margin-bottom: 20px; } }
