@mixin font-0r-l {
    font-size: 12px;
    color: $brand_colors-grayW;
    line-height: 26px;
    text-align: left;
}

@mixin font-0r-c {
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}

@mixin font-0-l {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
}

@mixin font-1b-l {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

@mixin font-1b-c {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

@mixin font-1l-l {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}


@mixin font-1r-l {
    font-size: 14px;
    color: $brand_colors-grayW;
    line-height: 28px;
    text-align: left;
}

@mixin font-1r-r {
    font-size: 14px;
    color: $brand_colors-grayW;
    line-height: 28px;
    text-align: right;
}

@mixin font-1r-c {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

@mixin font-2l-l {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

@mixin font-2l-r {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: right;
}

@mixin font-2r-r {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: right;
}

@mixin font-2r-l {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

@mixin font-2l-c {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

@mixin font-2b-l {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

@mixin font-2b-c {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

@mixin font-3r-l {
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}

@mixin font-3b-l {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

@mixin font-3l-l {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
}

@mixin font-3r-c {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

@mixin font-3l-c {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    text-align: center;
}

@mixin font-3b-c {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

@mixin font-4-c {
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

@mixin font-5r-l {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
}

@mixin font-5r-c {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

@mixin font-5l-c {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-weight: 300;
}

@mixin font-5l-l {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    font-weight: 300;
}

@mixin font-5b-l {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

@mixin font-5b-c {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

@mixin font-6l-l {
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
}

@mixin font-6l-c {
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
    text-align: center;
}

@mixin font-7-c {
    font-size: 34px;
    line-height: 48px;
    text-align: center;
    font-weight: 300;
}

@mixin font-8l-c {
    font-size: 50px;
    font-weight: 300;
    line-height: 72px;
    text-align: center;
}


@mixin font-9b-l {
    font-size: 16px;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
}

@mixin font-9l-l {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}


@mixin font-9l-c {
    font-size: 72px;
    font-weight: 300;
    line-height: 96px;
    text-align: center;
}


@mixin font-10b-l {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}

@mixin font-10r-l {
    font-size: 12px;
    line-height: 24px;
    text-align: left;
}

@mixin font-10l-l {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

@mixin font-10l-c {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}


// BASIC TYPOGRAPHICAL STUFF BELOW
// COMPLETELY ASSUMPTIONS SO FAR
@media only screen {
    
    h1 {
        @include font-8l-c;
    }
    h2 {
        @include font-6l-c;
    }
    h3 {
        @include font-5l-c;
    }

    
    
    
}