@media only screen {

    div#nu__globalheader {
        width: 100%; // overriding 100vw
    }

    div.wrapper {
        flex: 1 0 auto;
        max-width: $wrapper-width;
        max-width: 100%; // overriding 100vw
        width: 100%; // overriding 100vw
        margin-top: 128px;
    }


    .nu__content_btn {
        display: inline-block;
        padding: 10px 30px;
        margin: 20px auto;
        border: 1px solid black;
        color: black;
        text-transform: uppercase;
        @include font-2l-c;
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    .neu__bgimg {
        @include neu__bgimg( $height : 245px );
    }


    div.main,
    main {
        > section {
            // Large Section Headings
            > h2 {
                @include font-7l-l;
                padding-bottom: 30px;
                margin-bottom: 30px;
                border-bottom: 1px solid black;
            }
        }
    }

    // outer container
    main,
    div.main {
        // margin: 0 auto;
        // width: $wrapper-width;
        // background-color: white;
        // color: black;

        // inner container
        >section {
            position: relative;
            margin: 0;
            width: inherit;
            clear: both;
            overflow: hidden;
        }

        >section.hero {
            background: rgba(black, 1.0);
            width: $wrapper-width;
            margin: 0 0 ($gutter * 2) 0;
            overflow: hidden;
            padding: 60px 0;

            >div {
                width: $content-width-narrow;
                margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;
                color: rgba(white, 1.0);

                // page title
                >h1 {
                    color: rgba(white, 1.0);
                    text-align: center;
                    @include font-7l-c;
                }

                // description
                >h3 {
                    @include font-3l-c;
                }

            }
        }

        >section.intro {
            width: $content-width-narrow;
            margin: 0 auto;
            border-bottom: solid rgba(black, 1.0) 1px;

            >h1 {
                margin: 0 0 ($gutter / 2) 0;
            }
        }

        >section.fullwidth {
            // width: $wrapper-width;
            // margin: ($gutter * 1.7) auto 0 auto;
            width: 90%;
            margin: 30px 5% 0;
            padding: $gutter 0 0;
            background: rgba($brand_colors-beige, 1.0);
            text-align: center;

            >h4 {
                text-align: center;
            }

            >ul {
                // margin: $gutter 10vw 0;
            }
        }

        >section {
            width: 50vw;
            margin: ($gutter * 1.7) auto 0 auto;

            >ul {
                display: flex;
                flex-direction: row;
                margin: $gutter auto 0;
                list-style: none;
                list-style-type: none;

                >li {
                    flex: 1;
                    margin: 0 $gutter $gutter 0;
                    text-align: left;

                    a {
                        border-bottom: none;
                    }

                    h6 {
                        >a {
                            border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                        }
                    }
                }
            }

            >ul.list {
                display: block;
                margin: 0 0 0 $gutter;
                list-style: disc;

                >li {
                    margin: 0 0 ($gutter / 2) 0;
                    text-align: left;
                    letter-spacing: 0;

                    a {
                        border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                    }

                    h6 {
                        >a {
                            border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                        }
                    }

                    >ul {
                        list-style: circle;
                        margin: 0 0 0 $gutter;
                    }
                }
            }
        }

        
        >section:last-child {
            margin: ($gutter * 1.7) auto 0 auto;
            padding-bottom: ($gutter * 1.5);
        }

        
    }
}


@media only screen and (max-width: 1280px) {
    $gutter: 15px;

    div.main {
        section.hero {
            margin: 0 0 ($gutter * 2) 0;

            >div {
                margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;

            }
        }

        section.intro {
            >h1 {
                margin: 0 0 ($gutter / 2) 0;
            }
        }

        section.fullwidth {
            // margin: ($gutter * 1.7) auto 0 auto;
            width: 90%;
            margin: 30px 5% 0;
            padding: $gutter 0 0;

            >h4 {
                text-align: center;
            }
        }

        section {
            margin: ($gutter * 1.7) auto 0 auto;

            >ul {
                width: $content-width-wide; // depricate this madness asap
                margin: $gutter auto 0;

                >li {
                    margin: 0 $gutter $gutter 0;

                }
            }

            >h4 {
                text-align: left;
            }
        }

        section:last-child {
            margin: ($gutter * 1.7) auto 0 auto;
            padding-bottom: ($gutter * 1.5);
        }
    }
}

@media only screen and (max-width: 959px) {
    div.main {
        section.hero {
            >div {
                width: $content-width;
            }
        }

        section.intro {
            width: $content-width;
        }

        section.fullwidth {
            >ul {
                width: $content-width;
            }
        }

        section {
            width: $content-width-960;  // try to depricate this madness

            >ul:not(.nu__grid-filters-options, .nu__grid) {
                flex-wrap: wrap;

                >li {
                    flex: 0 0 45%;
                    margin-right: 10%;

                    :nth-child(even) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    div.main {
        section.intro {
            >h1 {
                text-align: left;
            }
        }

        section {
            width: $content-width-700;

            >ul {
                width: 100%;
                margin: 0 auto;
                flex-direction: column;

                >li {
                    //flex: 0 0 45%;
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 440px) {
    div.main {
        section.fullwidth {
            >h4 {
                margin: 0 10vw;
            }
        }
    }
}

// ADDITIONAL TWEAKS AS I NEED THEM BELOW:

@media only screen {

    body {

        header .neumenu-wrapper {
            box-shadow: 1px 1px 5px $brand_colors-gray;
        }
    }
    
    div.main,
    main {
        


        ul.js__collapsible_list {
            > li > h5 {
                cursor: pointer;
                @include font-3b-l;
                position: relative;
                &:after {
                    transition: transform 0.4s ease;
                    content: '\e313';
                    position: absolute;
                    transform: rotate(0deg);
                    right: 0;
                    display: inline-block;
                    font-family: 'Material Icons';
                }
                &.js__collapsible_triggered {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        width: 100%;

        >section.hero {
            width: 100%;
        }

        >section.nobg {
            background: none;
        }

        ul.list {
            flex-flow: row wrap;

            li {
                flex: 1 0 100%;
            }
        }

        // FAQ specific
        >section>ul.nufin-faqs {
            list-style-type: none;
            margin: 0;
            margin-top: 30px;

            li {
                cursor: pointer;
                border-bottom: 1px solid transparentize(black, 0.5);

                >h5 {
                    @include font-3b-l;
                    padding: 15px 0;
                }

                >div {
                    @include font-2l-l;
                    cursor: initial;
                    padding-bottom: 15px;
                }
            }
        }

        section.hero.hero-image {
            background-size: cover;
            background-position: center;
        }

        > section.heretohelp {
            >ul {
                >li {
                    > h4 {
                        @include font-2b-l;
                    }
                    > p {
                        @include font-2l-l;
                    }
                }
            }
        }

        section.related-tasks {
            >ul {
                @include ul_grid_cols(2, 15px);
            }
        }
    }


}