@media only screen {

    div#nu__globalheader {
        width: 100%; // overriding 100vw
    }

    div.wrapper {
        flex: 1 0 auto;
        max-width: $wrapper-width;
        max-width: 100%; // overriding 100vw
        width: 100%; // overriding 100vw


        margin-top: 124px;
    }


    // outer container
    main,
    div.main {
        margin: 0 auto;
        width: $wrapper-width;
        background-color: $brand_colors-white;
        color: $brand_colors-black;
        // inner container
        > section {
            position: relative;
            margin: 0;
            width: inherit;
            clear: both;
            overflow: hidden;
        }
        > section.hero {
            background: rgba($brand_colors-black, 1.0);
            width: $wrapper-width;
            margin: 0 0 ($gutter * 2) 0;
            overflow: hidden;
            > h1 {
                color: rgba($brand_colors-white, 1.0);
                text-align: center;
                @include font-8l-c;
            }
            > div {
                width: $content-width-narrow;
                margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;
                color: rgba($brand_colors-white, 1.0);
            }
        }
        > section.intro {
            width: $content-width-narrow;
            margin: 0 auto;
            border-bottom: solid rgba($brand_colors-black, 1.0) 1px;
    
            >h1 {
                margin: 0 0 ($gutter / 2) 0;
            }
        }
    
        > section.fullwidth {
            width: $wrapper-width;
            margin: ($gutter * 1.7) auto 0 auto;
            padding: $gutter 0 0;
            background: rgba($brand_colors-beige, 1.0);
            text-align: center;
    
            >h4 {
                text-align: center;
            }
    
            >ul {
                margin: $gutter 10vw 0;
            }
    
            a {
                &:hover {
                    border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                    color: inherit;
                }
            }
        }
        > section {
            width: 50vw;
            margin: ($gutter * 1.7) auto 0 auto;
    
            ul {
                display: flex;
                flex-direction: row;
                margin: $gutter auto 0;
                list-style: none;
                list-style-type: none;
    
                >li {
                    flex: 1;
                    margin: 0 $gutter $gutter 0;
                    text-align: left;
    
                    a {
                        border-bottom: none;
                    }
    
                    h6 {
                        >a {
                            border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                        }
                    }
                }
            }
    
            >ul.list {
                display: block;
                margin: 0 0 0 $gutter;
                list-style: disc;
    
                >li {
                    margin: 0 0 ($gutter / 2) 0;
                    text-align: left;
                    letter-spacing: 0;
    
                    a {
                        border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                    }
    
                    h6 {
                        >a {
                            border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                        }
                    }
    
                    >ul {
                        list-style: circle;
                        margin: 0 0 0 $gutter;
                    }
                }
            }
        }
        > section:last-child {
            margin: ($gutter * 1.7) auto 0 auto;
            padding-bottom: ($gutter * 1.5);
        }
    }
}


@media only screen and (max-width: 1280px) {
    $gutter: 15px;

    div.main {
        section.hero {
            margin: 0 0 ($gutter * 2) 0;

            >div {
                margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;

            }
        }

        section.intro {
            >h1 {
                margin: 0 0 ($gutter / 2) 0;
            }
        }

        section.fullwidth {
            margin: ($gutter * 1.7) auto 0 auto;
            padding: $gutter 0 0;

            >h4 {
                text-align: center;
            }
        }

        section {
            margin: ($gutter * 1.7) auto 0 auto;

            >ul {
                width: $content-width-wide;
                margin: $gutter auto 0;

                >li {
                    margin: 0 $gutter $gutter 0;

                }
            }

            >h4 {
                text-align: left;
            }
        }

        section:last-child {
            margin: ($gutter * 1.7) auto 0 auto;
            padding-bottom: ($gutter * 1.5);
        }
    }
}

@media only screen and (max-width: 959px) {
    div.main {
        section.hero {
            >div {
                width: $content-width;
            }
        }
        section.intro {
            width: $content-width;
        }

        section.fullwidth {
            >ul {
                width: $content-width;
            }
        }

        section {
            width: $content-width-960;

            >ul:not(.nu__grid-filters-options, .nu__grid) {
                flex-wrap: wrap;

                >li {
                    flex: 0 0 45%;
                    margin-right: 10%;

                    :nth-child(even) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    div.main {
        section.intro {
            >h1 {
                text-align: left;
            }
        }

        section {
            width: $content-width-700;

            >ul {
                width: 100%;
                margin: 0 auto;
                flex-direction: column;

                >li {
                    //flex: 0 0 45%;
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 440px) {
    div.main {
        section.fullwidth {
            >h4 {
                margin: 0 10vw;
            }
        }
    }
}

// ADDITIONAL TWEAKS AS I NEED THEM BELOW:

@media only screen {
    div.main,
    main {

        width: 100%;
        > section.hero {
            width: 100%;
        }
        > section.nobg {
            background: none;
        }
        
        ul.list {
            flex-flow: row wrap;
            li {
                flex: 1 0 100%;
            }
        }
        
        // FAQ specific
        > section > ul.nufin-faqs {
            list-style-type: none;
            margin: 0;
            li {
                cursor: pointer;
                padding: 10px 0;
                border-bottom: 1px solid $brand_colors-grayW;
                > div {
                    cursor: initial;
                }
            }
        }
        section.fullwidth {
            width: 100%;
        }
        
        section.hero.hero-image {
            background-size: cover;
            background-position: center;
        }

        > section.related-tasks {
            > ul {
                > li {
                    i {
                        color: $brand_colors-red;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }
        }

        
        
        > section {
            > .nu__prefooter {
                > h2 {
                    text-align: left;
                    border-bottom: 1px solid $brand_colors-black;
                }
            }
        }
        
        > section.overview-depts {
            > ul {
                @include ul_grid_cols(2);
                li {
                    margin: 0 20px 20px 0;
                    border-bottom: 1px solid $brand_colors-grayW;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    i, h4{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    i {
                    }
                    > a {
                        display: block;
                        &:hover > i.material-icons{
                            color: $brand_colors-red;
                        }
                    }
                }
            }
        }

        > section.heretohelp {
            > ul {
                > li {
                    > a {
                        &:hover {
                            color: $brand_colors-red;
                            i.material-icons {
                                color: $brand_colors-red;
                            }
                        }
                        > i.material-icons {
                            vertical-align: middle;
                            margin-right: 5px;
                        }
                    }
                    figure {
                        width: 100%;
                        height: 200px;
                        background-position: center;
                        background-size: cover;
                    }
                }
            }
        }
        section.related-tasks {
            > ul {
                @include ul_grid_cols(2);
                > li {
                    margin: 0 auto 20px;
                }
            }
        }
    }
    
    
}