@media only screen {
    main>section>h2 {
        @include font-7l-l;
    }
}
@media only screen and (max-width: $bp__lg){
    main>section>h2 {
        @include font-5l-l;
    }
}
@media only screen and (max-width: $bp__md){
    main>section>h2 {
        @include font-3l-l;
        padding-bottom: 15px;
    }
}

@media only screen {
    main {
        > section {
            // Large Section Headings
            > h2 {
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 1px solid black;
            }
        }
    }

    html.neu__noscroll, html body.neu__noscroll {
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
    }
    div#nu__globalheader {
        width: 100%; // overriding 100vw
    }
    div.wrapper {
        flex: 1 0 auto;
        max-width: $wrapper-width;
        max-width: 100%; // overriding 100vw
        width: 100%; // overriding 100vw
        margin-top: 124px;
    }
    .nu__content_btn {
        letter-spacing: 1px;
        display: inline-block;
        padding: 5px 45px;
        margin: 0px auto;
        border: 1px solid black;
        color: black;
        text-transform: uppercase;
        @include font-2l-c;
        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .neu__bgimg {
        @include neu__bgimg( $height : 245px );
    }
    // outer container
    main {
        // inner container
        >section {
            position: relative;
            margin: 0;
            width: inherit;
            clear: both;
            // overflow: hidden;
        }

        >section.hero {
            min-height: 220px;
            display: flex;
            align-items: center;
            justify-content: center;

            background: rgba(black, 1.0);
            width: $wrapper-width;
            margin: 0;
            overflow: hidden;
            text-align: center;
            >div {
                width: $content-width-narrow;
                // margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;
                margin: 60px auto;
                color: rgba(white, 1.0);
                // page title
                >h1 {
                    color: rgba(white, 1.0);
                    text-align: center;
                    @include font-hero-lg-c;
                }

                // description
                >h3 {
                    @include font-3l-c;
                }

            }
        }

        >section.intro {
            width: $content-width-narrow;
            margin: 0 auto;
            border-bottom: solid rgba(black, 1.0) 1px;

            >h1 {
                margin: 0 0 ($gutter / 2) 0;
            }
        }

        >section.fullwidth {
            // width: $wrapper-width;
            // margin: ($gutter * 1.7) auto 0 auto;
            width: 90%;
            width: 90vw;
            margin: 30px 5% 0;
            padding: $gutter 0 0;
            background: rgba($brand_colors-beige, 1.0);
            text-align: center;

            >h4 {
                text-align: center;
            }

            >ul {
                // margin: $gutter 10vw 0;
            }
        }

        >section {
            // width: 50vw;
            width: 60vw;
            // margin: ($gutter * 1.7) auto 0 auto;
            margin: 30px auto 0;

            >ul {
                display: flex;
                flex-direction: row;
                margin: $gutter auto 0;
                list-style: none;
                list-style-type: none;

                >li {
                    flex: 1;
                    margin: 0 $gutter $gutter 0;
                    text-align: left;

                    a {
                        border-bottom: none;
                    }

                    h6 {
                        >a {
                            border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                        }
                    }
                }
            }

            >ul.list {
                display: block;
                margin: 0 0 0 $gutter;
                list-style: disc;

                >li {
                    margin: 0 0 ($gutter / 2) 0;
                    text-align: left;
                    letter-spacing: 0;

                    a {
                        // border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                    }

                    h6 {
                        >a {
                            border-bottom: solid rgba($brand_colors-red, 1.0) 1px;
                        }
                    }

                    >ul {
                        list-style: circle;
                        margin: 0 0 0 $gutter;
                    }
                }
            }
        }

        
        >section:last-child {
            // margin: ($gutter * 1.7) auto 0 auto;
            // padding-bottom: ($gutter * 1.5);
            margin-bottom: 60px;
        }

        
    }
}
// Scale Hero Title & Description
@media only screen and (max-width: $bp__lg){
    main>section.hero>div>h1 {
        @include font-hero-md-c;
    }
    main>section.hero>div>h3 {
        @include font-2l-c;
    }
}
@media only screen and (max-width: $bp__sm){
    main>section.hero>div>h1 {
        @include font-5l-c;
    }
}


@media only screen and (max-width: 1280px) {
    $gutter: 15px;

    div.main {
        section.hero {
            margin: 0 0 ($gutter * 2) 0;

            >div {
                margin: ($gutter * 1.75) auto ($gutter * 2.1) auto;

            }
        }

        section.intro {
            >h1 {
                margin: 0 0 ($gutter / 2) 0;
            }
        }

        section.fullwidth {
            // margin: ($gutter * 1.7) auto 0 auto;
            width: 90%;
            margin: 30px 5% 0;
            // padding: $gutter 0 0;

            >h4 {
                text-align: center;
            }
        }

        section {
            margin: ($gutter * 1.7) auto 0 auto;

            >ul {
                width: $content-width-wide; // depricate this madness asap
                margin: $gutter auto 0;

                >li {
                    margin: 0 $gutter $gutter 0;

                }
            }

            >h4 {
                text-align: left;
            }
        }

        section:last-child {
            margin: ($gutter * 1.7) auto 0 auto;
            padding-bottom: ($gutter * 1.5);
        }
    }
}
@media only screen and (max-width: 959px) {
    div.main {
        section.hero {
            >div {
                width: $content-width;
            }
        }

        section.intro {
            width: $content-width;
        }

        section.fullwidth {
            >ul {
                width: $content-width;
            }
        }

        section {
            width: $content-width-960;  // try to depricate this madness

            >ul:not(.nu__grid-filters-options, .nu__grid) {
                flex-wrap: wrap;

                >li {
                    flex: 0 0 45%;
                    margin-right: 10%;

                    :nth-child(even) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 620px) {
    div.main {
        section.intro {
            >h1 {
                text-align: left;
            }
        }

        section {
            width: $content-width-700;

            >ul {
                width: 100%;
                margin: 0 auto;
                flex-direction: column;

                >li {
                    //flex: 0 0 45%;
                    margin-right: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 440px) {
    div.main {
        section.fullwidth {
            >h4 {
                margin: 0 10vw;
            }
        }
    }
}



// ADDITIONAL TWEAKS AS I NEED THEM BELOW:
@media only screen and (max-width: 600px){
    div.wrapper {
        >main {
            >section.hero {
                > div {
                    width: 90%;
                    text-align: center;
                }
            }
        }
    }
}
@media only screen {
    
    
    div.wrapper {
        > main {
            // any el with these 2 classes must be a view profile button
            .js__bio.neu__iconlink {
                @include neu__iconlink($icon: "\e7fd");
            }
        
            // default width for section elements directly within the main element (page wrapper)
            > section {
                // width: 90%;
                &.hero {
                    width: 100%;
                }
            }
        }
        
    }
    
    // LETS DO SOME FANCY BULLETS HUH
    ul.neu__fancy_bullets {
        position: relative;
        padding-left: 30px;
        &:before {
            content: '';
            width: 1px;
            background-color: $brand_colors-gray;
            height: 100%;
            display: inline-block;
            position: absolute;
            left: 8px;
            opacity: 0.3;
        }
        > li {
            position: relative;
            &:before {
                left: -27px;
                position: absolute;
                display: inline-block;
                content: '';
                top: 7px;
                width: 12px;
                background-color: lighten($brand_colors-gray, 25%);
                height: 12px;
                border-radius: 50%;
            }
            > h5 {
                @include font-2r-l;
            }
            > p {
                @include font-2l-l;
            }
        }
    }

    body {

        header .neumenu-wrapper {
            box-shadow: 1px 1px 5px $brand_colors-gray;
        }
    }
    
    div.main,
    main {
        


        ul.js__collapsible_list {
            > li > h5 {
                cursor: pointer;
                @include font-3b-l;
                position: relative;
                padding-right: 20px;
                &:after {
                    transition: transform 0.4s ease;
                    content: '\e313';
                    position: absolute;
                    transform: rotate(0deg);
                    right: 0;
                    top: 0;
                    display: inline-block;
                    font-family: 'Material Icons';
                }
                &.js__collapsible_triggered {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        width: 100%;

        >section.hero {
            width: 100%;
            margin-bottom: 30px;
            max-height: calc(100vh - 124px);
        }

        >section.nobg {
            background: none;
        }

        ul.list {
            flex-flow: row wrap;

            li {
                flex: 1 0 100%;
            }
        }

        // FAQ specific
        >section>ul.nufin-faqs {
            list-style-type: none;
            margin: 0;
            margin-top: 30px;

            > li {
                border-bottom: 1px solid transparentize(black, 0.5);
                
                >h5 {
                    @include font-2r-l;
                    margin: 15px 0;
                    > span {
                        border-bottom: 2px solid transparent;
                    }
                    &:hover {
                        &:after { // carrot becomes red
                            color: $brand_colors-red;
                        }
                        > span { // text is underlined
                            border-bottom: 2px solid $brand_colors-red;
                        }
                    }
                }
                &.js__collapsible_triggered{
                    > h5:after { // carrot becomes red
                        // color: $brand_colors-red;
                        transform: rotate(180deg);
                    }
                }              

                >div {
                    @include font-2l-l;
                    cursor: initial;
                    padding-bottom: 15px;
                    > p {
                        margin-bottom: 15px;
                    }
                    ul {
                        a {
                            color: $brand_colors-red;
                            &:hover {
                                border-bottom: 2px solid $brand_colors-red;
                            }
                        }
                        list-style-type: disc;
                        margin: 0;
                        padding: 0;
                        padding-left: 2.4rem;
                        li {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }

        section.hero.hero-image {
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

        section.related-tasks {
            >ul {
                font-size: 0;
                text-align: left;
                display: inline-block;
                > li {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    font-size: initial;
                    margin: 0 15px 15px 0;
                    width: calc( 50% - 7.5px);
                    &:nth-of-type(2n){
                        margin-right: 0;
                    }

                    @include neu__iconlink();
                    padding-left: 30px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: $brand_colors-red;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    div.wrapper > main {

        section.related-tasks {
            > ul {
                > li {
                    flex: none;
                    margin: 0;
                    margin-bottom: 15px;
                    width: 100%;
                    max-width: none;
                }
            }
        }

    }
}

@media only screen {
    $space: 2vw;
    $width : 90vw;
    $col : 3;
    div.wrapper > main {
        section.heretohelp {
            > ul {
                display: inline-block;
                font-size: 0;
                width: $width;
                > li {
                    vertical-align: top;
                    font-size: initial;
                    display: flex;
                    flex-flow: row nowrap;
                    margin: 0;
                    margin-bottom: 30px;
                    > div {
                        width: (($width / 2) - $space);
                        height: (($width / 2) - $space);
                    }
                    > div.neu__bgimg {
                        margin-right: $space;
                    }
                    > div:not(.neu__bgimg){
                        > h4 {
                            @include font-2r-l;
                        }
                        > a.neu__iconlink {
                            @include neu__iconlink($icon : "\e551");
                        }
                        > a.neu__iconlink:last-of-type {
                            @include neu__iconlink($icon : "\e0be");
                        }
                        > a.neu__iconlink:first-of-type {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $bp_3cols){
    $width: 90vw;
    $col: 3;
    $space: 2vw;

    div.wrapper > main {
        section.heretohelp {
            > ul {
                > li {
                    display: inline-block;
                    width: (($width - (($col - 1) * $space)) / $col);
                    margin: 0 $space $space 0;
                    > div {
                        width: auto;
                        height: auto;
                    }
                    > div.neu__bgimg {
                        width: (($width - (($col - 1) * $space)) / $col);
                        height: (($width - (($col - 1) * $space)) / $col);
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 991px){
    $width : 60vw;
    $col : 3;
    $space: 2vw;
    div.wrapper > main {
        section.heretohelp {
            > ul {
                width: $width;
                > li {
                    width: (($width - (($col - 1) * $space)) / $col);
                    margin: 0 $space $space 0; 

                    &:nth-child(#{$col}n) {
                        margin-right: 0;
                    }
                    
                    > div.neu__bgimg {
                        width: (($width - (($col - 1) * $space)) / $col);
                        height: (($width - (($col - 1) * $space)) / $col);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $bp__sm){
    main > section {
        width: 90%;
    }
}