// 
//          Vars
//

@function getVar($v, $ks...) {
    @each $k in $ks {
        $v: map-get($v, $k);
    }

    @return $v;
}

$sizing : (header : 124px,
    content : ());

$sizing:(
    wrapper: 100%
    , content:(
        normal: 80vw, wide: 96vw, medium: 65vw, narrow: 50vw)
    , gutter:(
        vw:(
            normal: 2vw, medium: 3vw, large: 5vw, small: 1vw
        )
        , px:(
            normal: 30px, medium: 20px, large: 60px, small: 15px, vsmall: 5px)
    )
    , header:(
        normal: 100px, small: 80px, gheader: 44px
    )
    , device : (
        phone : 92vw
    )
);
//          Colors
$colors: (
    red:(    
        medium: rgb(204, 0, 0)
        , dark: rgb(147, 0, 0)
        , light: rgb(218, 52, 50)
    )
    , black:(
        full: rgb(0, 0, 0)
        , dark: rgb(31, 31, 31)
    )
    , white: rgb(255, 255, 255)
    , beige: rgb(229, 212, 171)
    , gold: rgb(164, 128, 74)
    , gray:(
        light: rgb(207, 199, 191)
        , warm: rgb(161, 153, 148)
        , medium: rgb(153, 163, 176)
        , fill: rgb(178, 178, 178)
    )
    , blue:(
        light: rgb(82, 207, 229)
        , medium: rgb(0, 110, 181)
        , dark: rgb(56, 87, 117)
    )
    , green:(
        bright: rgb(186, 219, 0)
        , teal: rgb(0, 207, 181)
        )
    , orange: rgb(255, 133, 79)
    , yellow: rgb(255, 191, 61)
);



// Reds
$brand_colors-red: rgb(212, 27, 44);
$brand_colors-red--dark: rgb(148, 19, 32);
$brand_colors-red--light: rgb(237, 31, 51);
// Teals
$brand_colors-teal: rgb(82, 207, 229);
$brand_colors-teal--dark: rgb(50, 124, 138);
// Grays
$brand_colors-gray: rgb(151, 151, 151);
$brand_colors-gray--dark: rgb(161, 153, 148);
// Beige
$brand_colors-beige: rgb(236, 230, 213);
$brand_colors-beige--light: rgb(239, 235, 221); // unsure of this ( used in forms sidebar )
// 
// 
//          Typography
// 
// 
$font-family-base: 'Lato',
sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 2.8rem;
// 
// 
//          Grid
// 
// 
$wrapper-width: 100vw; // widely used
$content-width: 80vw; // widely used
$gutter: 1vw; // ( why cant this be % instead of vw)
$wrapper-margins: 0,
(($wrapper-width - $content-width) / 2),
0,
(($wrapper-width - $content-width) / 2);
$content-width-wide: 94vw; // this is used
$content-width-700: 92vw; // this is used
$content-width-narrow: 50vw; // this is used
$content-width-960: 96vw; // used (barely)


// This was used on the "brochure" download link in KRI
// I believe this has been totally depricated
$navigation-height: 50px;


// Breakpoints
$nav_bp_dt : 960px;
// $bp_3cols : 600px;
$bp_3cols : 620px; // replace this with bp__md asap please

// Breakpoints v2
$bp__sm : 620px;
$bp__md : 960px;
$bp__lg : 1280px;