// 
// 
// 
//          Vars
//
// 
// 
//          Colors
// Reds
$brand_colors-red: rgb(212, 27, 44);
$brand_colors-red--dark: rgb(148, 19, 32);
$brand_colors-red--light: rgb(237, 31, 51);
// Teals
$brand_colors-teal: rgb(82, 207, 229);
$brand_colors-teal--dark: rgb(50, 124, 138);
// Grays
$brand_colors-gray: rgb(151, 151, 151);
$brand_colors-gray--dark: rgb(161, 153, 148);
// Beige
$brand_colors-beige: rgb(236, 230, 213);
$brand_colors-beige--light: rgb(239, 235, 221); // unsure of this ( used in forms sidebar )
// 
// 
//          Typography
// 
// 
$font-family-base: 'Lato', sans-serif, FontAwesome;
$font-size-base: 1.6rem;
$line-height-base: 2.8rem;
// 
// 
//          Grid
// 
// 
$wrapper-width: 100vw;  // ( why cant this be % instead of vw)
$content-width: 71vw;   // ( why cant this be % instead of vw)
$gutter: 1vw;           // ( why cant this be % instead of vw)
$wrapper-margins: 0, (($wrapper-width - $content-width) / 2), 0, (($wrapper-width - $content-width) / 2);
$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;



$wrapper-width: 100vw;
$content-width: 80vw;
$content-width-super-narrow: 88vw;
$content-width-wide: 94vw;
$content-width-960: 96vw;
$content-width-700: 92vw;
$content-width-narrow: 50vw;
$content-width-mid: 65vw;



// ( this is the combined height of the global and site headers )
// this number is only valid at the desktop breakpoint
$main_offset_top: 124px;


/* These are variables for the main navigation */
$navigation-height: 50px;