@import '../../sass/base/vars.scss';
@import '../../sass/base/fonts.scss';
@import '../../sass/base/mixins.scss';

@media only screen {

    div.wrapper {

        main,
        div.main {
            >section {
                >h2 {
                    margin-bottom: 0;

                    &:not(:first-of-type) {
                        margin-top: 30px;
                    }
                }

                // group of discounts within a category
                ul.discounts {
                    display: flex;
                    flex-flow: row wrap;
                    list-style-type: none;
                    align-items: center;
                    margin: 0;

                    // discount item wrapper
                    >li {
                        flex: 1 0 100%;
                        border-bottom: 1px solid transparentize(black, 0.8);
                        padding: 15px 0;
                        margin-bottom: 0;
                        &.js__collapsible_triggered {
                            >a:after {
                                transform: rotate(180deg);
                            }
                        }

                        // discount title
                        >a {
                            display: block;
                            @include font-3r-l;

                            span {
                                border-bottom: 2px solid transparent;
                            }
                            
                            &:hover,
                            &:active,
                            &:focus {
                                span {
                                    border-bottom: 2px solid $brand_colors-red;
                                }
                                

                                &:after {
                                    color: $brand_colors-red;
                                }
                            }
                        }

                        
                        // discount description
                        >div {
                            @include font-2l-l;
                            margin-top: 15px;
                            a {
                                color: $brand_colors-red;

                                &:hover,
                                &:active,
                                &:focus {
                                    border-bottom: 2px solid $brand_colors-red;
                                }
                            }

                            ul {
                                list-style-type: disc;
                                margin: 0;
                                padding: 0;
                                padding-left: 2.4rem;

                                li {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $bp__lg) {

    div.wrapper main>section ul.discounts>li>a,
    div.wrapper div.main>section ul.discounts>li>a {
        @include font-2r-l;
    }
}